<app-navbar></app-navbar>
<div class="container-fluid p-0 min-vh-100">
    <div class="container min-vh-100">
      <div class="row">
        <div class="col-12">
          <div class="card shadow">
            <div class="card-body">
              <form [formGroup]="updateAddress" (ngSubmit)="onSubmitUpdateAddress()">
                <div class="form-group">
                  <label for="Address" class="font-weight-bold">Address</label>
                  <textarea class="form-control shadow" formControlName="address"></textarea>
                </div>
                <div class="form-group">
                  <label for="Line1" class="font-weight-bold">Line1</label>
                  <input class="form-control shadow" type="text" formControlName="line1">
                </div>
                <div class="form-group">
                  <label for="Line2" class="font-weight-bold">Line2</label>
                  <input class="form-control shadow" type="text" formControlName="line2">
                </div>
                <div class="form-group">
                  <label for="Postalcode" class="font-weight-bold">Postalcode</label>
                  <input class="form-control shadow" type="text" formControlName="postalCode">
                </div>
                <div class="button-group text-right">
                  <a class="btn btn-warning mx-2" [routerLink]="['/view-customer',customerId]">Back</a>
                  <button class="btn btn-primary" [disabled]="updateAddress.invalid" type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>