<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 position-absolute" style="left:50%;transform: translate(-50%);">
      <div class="card shadow mb-4">
        <div class="card-body ">
          <div class="text-center">
            <h1>Profile</h1>
          </div>
          <form [formGroup]="newCustomerForm" (ngSubmit)="onSubmitNewCustomer()">
            <div class="form-group">
              <label for="Firstname">Firstname</label>
              <input type="text" class="form-control" formControlName="firstName">
            </div>
            <div class="form-group">
              <label for="Lastname">Lastname</label>
              <input type="text" class="form-control" formControlName="lastName">
            </div>
            <div class="form-group">
              <label for="Weight">Weight</label>
              <input type="text" class="form-control" formControlName="weight">
            </div>
            <div class="form-group">
              <label for="Height">Height</label>
              <input type="text" class="form-control" formControlName="height">
            </div>
            <div class="form-group">
                <label for="Birthday">Birthday
                  <mat-form-field class="d-block" appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthDay">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </label>
              </div>
            <div class="form-group">
              <label for="Age">Age</label>
              <input type="text" class="form-control" formControlName="age">
            </div>
            <div class="form-group">
              <label for="Gender">Gender</label>
              <input type="text" class="form-control" formControlName="gender">
            </div>
            <hr>
            <div formGroupName="address[]">
              <div class="text-center">
                <h1>Address</h1>
              </div>
              <div class="form-group">
                <label for="Address">Address</label>
                <textarea type="text" class="form-control" formControlName="address[]" style="height:150px"></textarea>
              </div>
              <div class="form-group">
                <label for="Line1">Line1</label>
                <input type="text" class="form-control" formControlName="line1[]">
              </div>
              <div class="form-group">
                <label for="Line2">Line2</label>
                <input type="text" class="form-control" formControlName="line2[]">
              </div>
              <div class="form-group">
                <label for="PostalCode">PostalCode</label>
                <input type="text" class="form-control" formControlName="postalCode[]">
              </div>
              <div class="text-right">
                <a class="btn btn-warning mr-2" routerLink="/customer">Back</a>
                <button class="btn btn-primary" type="submit" [disabled]="newCustomerForm.invalid">Submit</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
