<app-navbar></app-navbar>
<div class="container min-vh-100">
  <div class="card mb-4 shadow">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="title text-center">
            <h2 class="display-3">Profile Customer</h2>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Firstname</th>
                <td>{{profileCustomer.firstname}}</td>
              </tr>
              <tr>
                <th scope="row">Lastname</th>
                <td>{{profileCustomer.lastname}}</td>
              </tr>
              <tr>
                <th scope="row">Weight</th>
                <td>{{profileCustomer.weight}}</td>
              </tr>
              <tr>
                <th scope="row">Height</th>
                <td>{{profileCustomer.height}}</td>
              </tr>
              <tr>
                <th scope="row">Birthday</th>
                <td>{{profileCustomer.birthday}}</td>
              </tr>
              <tr>
                <th scope="row">Age</th>
                <td>{{profileCustomer.age}}</td>
              </tr>
              <tr>
                <th scope="row">Gender</th>
                <td>{{profileCustomer.gender}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 text-right">
          <a class="btn btn-warning" routerLink="/customer">Back</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card bg-warning mb-4 shadow" style="margin-bottom: 2em;">
    <div class="card-body">
      <div class="text-center">
        <h1 class="text-center"><strong>Addresses</strong></h1>
        <a [routerLink]="['/new-address',customerId]" class="btn btn-danger">new address</a>
      </div>

      <div *ngIf="showProcessSpin; then showSpin else hideSpin"></div>
      <!-- <div #presentList> -->
      <ng-template #hideSpin>
        <div *ngIf="addressList?.length > 0; then presentList else emptyList"></div>
        <ng-template #presentList>
          <div *ngFor="let address of addressList; let i = index;">
            <app-address-list-item [model]="address" [customerId]="customerId"
              (eventEmitter)="onAddressListEvent($event)"></app-address-list-item>
            <!-- <div class="card my-3 shadow">
            <div class="card-header">
              <h1 class="display-4 text-center">ข้อมูลที่อยู่ {{i+1}}</h1>
            </div>
            <div class="card-body">
              <p><span class="badge badge-warning">address : </span>{{address.address}}</p>
              <p><span class="badge badge-warning">line 1 : </span>{{address.line1}}</p>
              <p><span class="badge badge-warning">line 2 : </span>{{address.line2}}</p>
              <p><span class="badge badge-warning">postalcode : </span>{{address.postalCode}}</p>
            </div>
            <div class="card-footer text-right">
              <a class="btn btn-warning mr-2">Edit</a>
              <button class="btn btn-danger" (click)="onSubmitDeleteAddress(address.id)">Delete</button>
            </div>
          </div> -->
          </div>
        </ng-template>
        <ng-template #emptyList>
          <div class="text-center" style="height:250px;">
            <h1 class="display-3 w-100 position-absolute" style="top:50%;left:50%;transform:translate(-50%,-50%)">ไม่พบ address ของผู้ใช้งาน</h1>
          </div>
        </ng-template>
      </ng-template>

      <ng-template #showSpin>
        <div class="p-0" style="height:250px;">
          <mat-spinner style="top:50%;left:50%;transform:translate(-50%,-50%)" ></mat-spinner>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<app-footer></app-footer>
