  <mat-toolbar color="primary" class="navbar mb-4">
    <div class="banner">
      <span>Customer-App</span>
    </div>
    <div class="menu">
      <a class="text-decoration-none text-white text-uppercase" routerLink="/dashboard">dashboard</a>
      <a class="text-decoration-none text-white text-uppercase" routerLink="/profile">profile</a>
      <a class="text-decoration-none text-white text-uppercase" routerLink="/customer">customer</a>
      <button class="btn btn-danger text-uppercase" (click)="onLogout()">logout</button>
    </div>
  </mat-toolbar>
 
  
