<app-navbar></app-navbar>
<div class="container h-100">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="updatePassword" (ngSubmit)=" onSubmitUpadtePassword()" >
            <div class="form-group">
              <label for="new-password"><strong>New password</strong></label>
              <input type="password" formControlName="newPassword" name="new-password" id="new-password" class="form-control">
            </div>
            <div class="form-group">
              <label for="new-password-confirm"><strong>New password confirm</strong></label>
              <input type="password" formControlName="newPasswordConfirm" name="new-password-confirm" id="new-password-confirm" class="form-control">
            </div>
            <hr>
            <div class="from-group">
              <label for="old-password"><strong>Old password confirm</strong></label>
              <input type="password" formControlName="oldPassword" name="old-password" id="old-password" class="form-control">
            </div>
            <div class="mt-3 sd-block text-right">
                <a class="btn btn-warning mx-2 font-weight-bold" routerLink="/update">Cancel</a>
                <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!updatePassword.valid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

